html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body {
  font-family: var(--main-font);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* ============================================================= */
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid teal;
}

.header__logo:focus,
.header__logo:hover,
.menu__list-link:hover,
.menu__list-link:focus {
  color: blue;
}

.header .header__logo {
  margin-right: 70px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu-box {
  /* display: flex; */
  background-color: rgb(141, 142, 156);
}
.contact-box {
  outline: 1px solid rgb(79, 80, 5);
  display: flex;
}
.menu__list {
  /* outline: 3px solid rgb(79, 80, 5); */
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.up__menu {
  display: flex;
}
.header .address {
  margin-left: auto;
  margin-right: 40px;
}
/* ==========Секция hero=================== */
.hero__title {
  text-align: center;
}
.hero {
  background-image: url(/images/IMG_2365.jpg);
  height: 70vh;
}
/* ==========Секция under-hero=================== */
.icon-list__under-hero .icon-list {
  display: flex;
  justify-content: center;
}
/* ==========Секция input=================== */
.bgr {
  display: block;
  text-align: center;
  background-image: url(/images/remont-holodilnika.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  /* margin-left: auto;
  margin-right: auto; */
}
